<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReceitasApp">

        <!-- Tela 1: XML + ConstraintLayout + View Binding + GridView -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela 2: XML + LinearLayout + findViewById + ListView -->
        <activity
            android:name=".ListaReceitasActivity"
            android:parentActivityName=".MainActivity" />

        <!-- Tela 3: Jetpack Compose -->
        <activity
            android:name=".DetalheReceitaActivity"
            android:parentActivityName=".ListaReceitasActivity" />

        <!-- Tela de Cadastro -->
        <activity
            android:name=".CadastroActivity"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>
